workflows
[{"createdAt":"2025-08-15T20:56:33.243Z","updatedAt":"2025-08-15T20:56:33.243Z","id":"eYJ2fdUUFW6OXk7K","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"eb28bdbc-53eb-4096-abb3-3a8924baa313","name":"When clicking ‘Execute workflow’"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=hi can you generate 3 linkedin post based on this research{{ $json.notes }}\n\nmake sure you give the reference of what exactly is need to write the post\n\noutput 3 ideas like below\n\n<topic1>\n<research1>\n\n<topic2>\n<research2>\n\n<topic3>\n<research3>\n\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,0],"id":"7070c9fb-9b9f-43cb-8a57-29860052e41b","name":"Generate Topics / Idea"},{"parameters":{"operation":"getAll","task":"MDkzNzg3NTY1MzUzNTAzOTc1MDU6MDow","additionalFields":{}},"type":"n8n-nodes-base.googleTasks","typeVersion":1,"position":[208,0],"id":"14f4aac2-8dfa-4b44-a888-35909bce409d","name":"Get many tasks"},{"parameters":{"promptType":"define","text":"=You are a helpful assistant who generate linkedin posts for the users\n\nyou would be given the content with three post ideas and reference as below:{{ $json.message.content }}\n\n\n\n\nmake sure that you update   the google sheets tool provided to you which has 3 columns Topic reference  Post\n\nTopic reference  Post\n\n\ntopic must be concise with a good hook and tags related to it at the bottom","options":{"systemMessage":"=You are a helpful assistant who generate linkedin posts for the users\n\nyou would be given the content with three post ideas and reference as below:{{ $json.message.content }}\n\n\n\n\nmake sure that you update   the google sheets tool provided to you which has 3 columns Topic reference  Post\n\nTopic reference  Post\n\n\ntopic must be concise with a good hook and tags related to it at the bottom"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[752,0],"id":"b6fbd45d-4f05-418b-a0f8-5233ed92d557","name":"AI Agent"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Vm-_yqAj3NFgkFXghaogEnW8Yl-AjmH3hKzQvYvE2tI","mode":"list","cachedResultName":"content idea","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Vm-_yqAj3NFgkFXghaogEnW8Yl-AjmH3hKzQvYvE2tI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Vm-_yqAj3NFgkFXghaogEnW8Yl-AjmH3hKzQvYvE2tI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"topic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topic', ``, 'string') }}","reference":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reference', ``, 'string') }}","post":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('post', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reference","displayName":"reference","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post","displayName":"post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[912,208],"id":"6730a962-d956-4e65-8f17-1c15875682fd","name":"Append row in sheet in Google Sheets"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[752,240],"id":"ece30053-463c-4b48-8524-d1a91f94c82b","name":"OpenAI Chat Model"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many tasks","type":"main","index":0}]]},"Get many tasks":{"main":[[{"node":"Generate Topics / Idea","type":"main","index":0}]]},"Generate Topics / Idea":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Append row in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"444cb550-fbcc-4b8d-9319-68437d43c3cb","triggerCount":0,"tags":[]}]